* {
    font-family: 'Times New Roman', Times, serif;
  }
  /* ---Trial 2: The Red Div--- */
  /* #red {
    background-color: #ff0000;
    width: 350px;
    height: 240px;
    margin: -10px;
  } */

  /* ----Trial 3: The Flag--- */
  /* .flag{
    display: block
  
  }
  #black {
    background-color: black;
    height: 100px;
    width: 500px;
    margin: -10px;
  }

  #flag-red {
    background-color: red;
    height: 100px;
    width: 500px;
    margin: -10px;
  }

  #yellow {
    background-color: #ffd700;
    height: 100px;
    width: 500px;
    margin: -10px;
  } */
  
  /* Trial 4: Neighboring Boxes */
  /* .single-box {
    background-color: black;
    display: inline-block;
    margin: 50px;
    width: 100px;
    height: 100px;
  } */


  /* Trial 5: Mixing and Matching */

/* #red {

  background-color: red;
  width: 350px;
  height: 200px;

}

#blue {
  background-color: blue;
  width: 350px;
  height: 200px;
}

.single-box {
  background-color: black;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 50px;
} */

/* Trial 6: Mixing and Mixing */

/* #red {

  background-color: red;
  width: 350px;
  height: 200px;
  display: inline-block;
  margin-top: -10px;
  margin-left: -10px;
  
}

#blue {

  background-color: blue;
  width: 350px;
  height: 200px;
  display: inline-block;
  margin-left: -5px;
  margin-top: -10px;
  
}

.single-box {
  background-color: black;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 50px;
} */


/* Trial 7: Vertical Aligning */
#background-box{
  background-color: #555555;
  height: 130px;
  width: 600px;
  margin-top: 10px;
  

}

.inner-box {
  background-color:#cccc;
  height: 115px;
  width: 30%;
  margin: 6px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}