<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>
<body>
    <p>Let's play a game!!!!</p>
    <form action="/madlib">
        <p>Tell me your name?</p>
        <input type="text" name="persons_name">
        <p>Tell me your favorite color:</p>
        <input type="text" name="color">
        <p>Tell me a noun</p>
        <input type="text" name="noun">
        <p>Tell me an adjective</p>
        <input type="text" name="adjective"><br><br>
        <input type="submit">
    </form>
</body>
</html>